<!-- about.component.html -->
<app-navbar></app-navbar>
<div>
    <br><br> <br>
<section id="about-us" class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Welcome to KT Laptop Sales!</h2>
            <p>We are dedicated to providing high-quality laptops to meet your technology needs. Our mission is to offer a seamless and enjoyable experience for every customer.</p>
            <p>At KT Laptop Sales, we believe in:</p>
            <ul>
                <li><strong>Quality:</strong> Offering laptops from leading brands with a focus on performance and reliability.</li>
                <li><strong>Customer Satisfaction:</strong> Putting our customers first by providing excellent service and support.</li>
                <li><strong>Innovation:</strong> Staying ahead in the ever-evolving tech landscape to bring you the latest and greatest laptops.</li>
            </ul>
            <p>Thank you for choosing KT Laptop Sales for your technology needs. We look forward to serving you!</p>
        </div>
    </div>
</section>
