<app-navbar></app-navbar>

<div class="container">
  <div class="text-center mt-5">
    <br><br>
    <h1 class="display-3 text-primary font-weight-bold">Explore Our Laptop Collection</h1>
    <p class="lead mt-4">Find the perfect laptop that suits your needs and style.</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="image-container mt-4">
        <img src="../assets/images/desktop_banner1.png" alt="Laptop Collection" class="img-fluid rounded image-style">
      </div>
      <div class="owner-image-container ml-4">
        <img src="../assets/images/kenthiran.jpeg" alt="Owner" class="img-fluid rounded-circle owner-image">
        <p class="mt-2 text-muted">Site Owner</p>
      </div>
    </div>
    <p class="mt-4">
      Please
      <a routerLink="/register" class="text-primary cursor-pointer">Order Now </a>
      to discover exclusive deals and offers on our amazing laptop collection.
    </p>
    
</div>
